name: Build Quarto site

on:
  push:
    branches: [main]
  schedule:
    - cron: '0 18 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup R and install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
            install-quarto: true
        env:
            R_COMPILE_AND_INSTALL_PACKAGES: never

      - name: Render site
        uses: quarto-dev/quarto-actions/render@v2

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
