name: Build Quarto site

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 */6 * * *'  # runs every 6 hours

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install Quarto
        uses: quarto-dev/quarto-actions/setup-quarto@v2

      - name: Install packages
        run: |
          R -e "install.packages(c('dplyr','DT','htmltools','leaflet','lubridate','purrr','tidyr'))"

      - name: Render site
        run: quarto render

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
